{% extends "base.html" %}

{% block title %}{{character.name}}'s Character Page{% endblock %}

{% block container %}
<div class="content">

<div class="character">

<h1>{{character.name}}'s Character Page</h1>

{% for inventory in character.inventories %}
<div class="inventory"> 
	<h2 class="inventory-name">{{inventory.name}}</h2>
	<ul>
	{% for item in inventory.items %}
		{% include "dndinventory/item.html" %}   
	{% endfor %}
	</ul>
</div>
{% endfor %}
<h2>Add Item</h2>
<form>
	<label>Inventory</label><br>
	<select id="inventory-select" name="inventory">
	{% for inventory in character.inventories %}
	<option value="{{inventory.id}}"> 
		{{inventory.name}}
	</option>
	{% endfor %}
	</select>
	<div>
	{% include "dndinventory/equipment_search.html" %}   
	</div>
	<input type="submit" value="Add">
</form>
</div>
</div>
{% endblock %}
